.about {
  margin-left: -36px;
  padding: 48px 0;

  font-size: 0;
  text-align: center;
}

.about-heading {
  margin-top: 0;
}

.about-kicker {
  padding-left: 36px;
  font-size: 18px;
}

.about-section {
  margin-top: 48px;
  padding-left: 36px;

  font-size: 14px;
  vertical-align: top;

  @media only screen and (min-width: 800px) {
    display: inline-block;
    width: 50%;
    margin-top: 0;
  }
}

.about-btn-container {
  margin: 24px 0;
}
