.about {
  margin-left: -36px;
  padding: 48px 0;

  font-size: 0;
  text-align: center;
}

.about-heading {
  margin-top: 0;
}

.about-kicker {
  padding-left: 36px;
  font-size: 18px;
}

.about-section {
  display: inline-block;
  width: 50%;
  padding-left: 36px;

  font-size: 14px;
  vertical-align: top;
}

.about-btn-container {
  margin: 24px 0;
}
