.content {
  position: relative;

  box-shadow: 0 -5px 5px rgba(0,0,0,0.15);
}

.brick {
  background-color: $grey-light;
}

.module {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  ul,
  ol,
  dl {
    &:first-child {
      margin-top: 0;
    }
  }
}

.heading {
  padding: 24px 0;
  margin: 0 0 32px;
  border: 1px solid #ddd;
  border-width: 1px 0;

  background: #fff;
  box-shadow: 0 1px 3px rgba(0,0,0,0.08);
  text-align: center;
}
