.header {
  position: relative;

  overflow: hidden;
  padding: 40px 0 120px;
  border-bottom: 25px solid $grey-dark;

  background-color: $green;
  background-image: embedurl('../../img/skyline-repeating.svg');
  background-position: center 102%;
  background-repeat: repeat-x;
  background-size: auto 50px;

  &:after {
    content: '';

    position: absolute;
    bottom: -2px;
    left: 50%;

    display: block;
    width: 350px;
    height: 100px;
    margin-left: -175px;

    background-color: $green;
    background-image: embedurl('../../img/skyline.svg');
    background-position: center 102%;
    background-repeat: no-repeat;
    background-size: auto 100px;
  }
}

.logo {
  height: 150px;
  margin: 0;

  background-image: embedurl('../../img/js.svg');
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-position: center center;
}
