.sponsor-list {
  margin-left: -48px;
  padding: 0;

  font-size: 0;
  list-style: none;
  text-align: center;

  li {
    display: inline-block;
    margin: 0 0 48px 48px;

    font-size: 16px;
  }
}
