.sponsor-list {
  margin-left: -48px;
  padding: 0;

  font-size: 0;
  list-style: none;
  text-align: center;

  li {
    display: inline-block;
    margin: 0 0 48px 48px;

    font-size: 16px;
  }

  a {
    display: block;

    &:focus {
      box-shadow: 0 0 3px 3px rgba(85, 164, 248, 0.49);
    }
  }
}
