// Colors

$white = #fff;
$grey-light = #fafafa;
$grey-dark = #373737;
$green = #5d9731;
$blue = #48729e;

// Font Stacks

$ideal = 'Ideal Sans SSm A', 'Ideal Sans SSm B', 'Helvetica Neue', Helvetica, Arial, sans-serif;
