body {
  padding: 10px;
  text-align: center;
  color: #fff;
  background-color: #000;
}

html,
body,
[data-view-name="application"],
table {
  height: 100%;
  width: 100%;
}

body.visible-tablet input[type="text"].input {
  width: 500px;
  font-size:2em;
}
